{% extends "base.html" %}
{% load i18n static %} {% load account socialaccount %} {% block head_title %}
{% trans "Sign In" %}{% endblock %} {% block content %}
<link rel="preload" as="image" href="https://images.unsplash.com/photo-1630395822701-565a7c69d344?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
<div class="authentication-img container-fluid">
  <div class="container login">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Welcome back to Groove Locator" %}</h3>

        <p>
          {% blocktrans %} If you have not created an account yet, then
          <a class="link login-signup-link" href="{{ signup_url }}">sign up</a> first.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary" type="submit">
            {% trans "Sign In" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

