/* Global styles ---------------------------------------- */


* {
  margin: 0;
    font-family: 'Roboto',
    sans-serif;
}

body {
  background-color: #0f2027;
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color:white;
  
}

.navbar-toggler {
  border-color: white;
  background-color: white;
}

.logo {
  max-height: 100px;
}

.navbar {
  background-color: #0f2027 !important;
}

.nav-link {
  font-size: 20px;
  color: white !important;
}

nav li {
  list-style: none !important;
  padding: 10px;
}

.navbar-text ul {
  padding: 0;
}

.nav-link:hover {
  color:#6600cc !important;
}

.active {
  color: #6600cc !important;
}

.copyright {
  background-color: rgba(102, 0, 204,0.5)
}

.relative {
  position: relative;
}

/* Index ---------------------------------------- */

.about {
  background-color: #0f2027;
  color: white;
  padding: 20px;
}

.main-heading {
  font-size: 50px;
}

.secondary-heading {
  font-size: 40px;
}

.about-text {
  font-size: 25px;
}

.row-center {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#map {
  width: 100vw;
  height: 50vh;

}

.join-btn {
  background-color: #6600cc;
  border-color: #6600cc;
  max-width: 50%;
  min-width: 50%;
}

.legend{
  position: absolute;
  bottom: 50px;
  left: 10px;
  background-color: rgba(102, 0, 204, 0.5);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 70%;
  overflow-y: auto;
}

.legend-btn {
  position: absolute;
  bottom: -25px;
  left: 0;
  padding: 10px;
}

.btn-primary {
  background-color: #6600cc;
  border-color: #6600cc;
}

.btn-primary:hover {
  background-color: #521093;
  border-color: #521093;
}

.legend-img {
  height: 20px;
  width: 20px;
}

.gm-ui-hover-effect span {
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
  background-color: white !important;
}


.user-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card {
  height: 100%;
  
}

.user-image {
  height: 250px;
  
}

.user-name {
  color:#6600cc;
}

.gm-style-iw-d {
  min-height:auto !important;
  background-color: #6600cc !important;
  overflow:hidden !important;
}

.gm-style-iw, .gm-style-iw-c{
  background-color: #6600cc !important;
  text-align: center;
}

.infowindow-style h2 {
  padding: 0 10px 0 10px;
  font-size: 25px;
}

.infowindow-style p {
  font-size: 18px;
  padding-right: 10px;
}

.infowindow-style {
  color: white;
  margin: 10px 0 10px 0;
 
}

.infowindow-btn {
  border-color: #0f2027;
  color: white;
  text-decoration:none ;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0f2027;
  margin-bottom: 10px;
  height: 100%;
}

.infowindow-btn:hover {
  border-color: white;
}

/* Login/ Signup---------------------------------------- */

.login {
  width: 40%;
  max-width: 50%;
  min-width: 400px;
  padding: 20px;
  background-color: rgba(15, 32, 39, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  margin-top: 5%;
}

.logout {
  margin-top: 10%;
}

.sign-up {
  max-width: 50%;
  padding: 20px;
  height: auto;
  background-color: rgba(15, 32, 39, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  margin: 10px 0 0 0;
 
}

.authentication-img {
  background-image: url("https://images.unsplash.com/photo-1630395822701-565a7c69d344?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size:cover;
  background-position: center;
  height: 120vh;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.helptext {
  display: none;
}

.login-signup-link {
  color: white;
}

#id_password,
#id_login,
#id_username,
#id_password1,
#id_password2,
#id_email {
  width: 100%;
  border-radius: 5px;
}

.sign-up .row .col-md-8 .signup ul {
  list-style: none;
  font-size: 13px;
}


/* Styles for medium screens */
@media (max-width: 1143px) {

  .about-text {
    font-size: 16px;
  }

  .main-heading {
     font-size: 40px;
  }

  .secondary-heading {
    font-size: 30px;
  }

  .event-text {
    padding-left: 50px;
  
  }

  .infowindow-style h2 {
    font-size: 20px;
  }

  .infowindow-style p {
    font-size: 15px;
  }

  .infowindow-btn {
    font-size: 14px;
  }

   body .event-list-img {
     height: 300px;
   }


}

@media (max-width: 768px) {
  body .event-list-img {
    height: 400px;
  }

  .sign-up {
    max-width: 70%;
  }

  .user-image {
    height: 100%;
  }



}

/* Styles for smaller screens */
@media (max-width: 576px) {
  .sign-up {
    max-width: 90%;
  } 

  .login {
    min-width: 90%;
    
  }

  .about-text {
    font-size: 14px;
  }

  .main-heading {
    font-size: 32px ;
  }

  .secondary-heading {
    font-size: 25px;
  }

  .infowindow-style h2 {
    font-size: 15px;
    padding: 0 5px 0 5px;
  }
  .infowindow-style p {
    font-size: 12px;
  }
  .infowindow-style {
    margin: 5px 0 5px 0;
  }
  .infowindow-btn {
    font-size: 12px;
  }
}



/* Footer---------------------------------------- */

footer {
  background-color: #0f2027;
  margin-top: auto;
  color: white;
  
}
.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}

.email {
  color: white;
}


/* Event_details---------------------------------------- */

.event-info {
  background-color: #0f2027 !important;
}

.event-image {
  display: flex;
  justify-content: center;
}

.add-details label {
  color: black;
}

.add-details .card-body {
  margin-bottom: 50px;
}

.card a {
  color: black;
  text-decoration: none;
}
.col h2 {
  color: white;
}

.event-text {
  padding-right: 50px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.add-details {
  display: flex;
  justify-content: center;
}

/* Event_list---------------------------------------- */

.event-list-img {
  height: 350px;
  /* object-fit: cover; */
  width: 100%;
  border-radius: 4px 4px 0 0;
  
}

.event:hover {
  box-shadow: 0 0 10px 5px #6600cc;
}

.card {
  border-color: #0f2027;
}

.filter-form {
  color: white;
  display: flex;
  margin: 20px 20px 20px 0;
  padding: 0;
}


.filter-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-form label {
  margin-right: 10px;
}

.filter-form select,
.filter-form input,
.filter-form button {
  margin-bottom: 10px;
}

.filter-btn {
  height: 39px;
}


/* Error page---------------------------------------- */

.error-page-content {
  width: 50%;
  max-width: 80%;
  min-width: 300px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(102, 0, 204, 0.2);
  text-align: center;
  margin: 0 10px 0 10px;
}

.error-page-content h2 {
  color: black !important;
}

.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
 