/* Global styles ---------------------------------------- */


* {
  margin: 0;
}


.logo {
  max-height: 100px;
}

.navbar {
  background-color: #0f2027 !important;
}

.navbar li a {
  color: white;
}

.navbar-nav {
  --bs-nav-link-hover-color: #6600cc !important;
}

.active {
  color: #6600cc !important;
}

.copyright {
  background-color: rgba(102, 0, 204,0.5)
}

.relative {
  position: relative;
}

/* Index ---------------------------------------- */

.about {
  background-color: #0f2027;
  color: white;
  padding: 20px;
}
/* 
.main-heading,
.about-text,
.button-col {
  padding: 20px;
} */

.row-center {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}


#map {
  width: 100vw;
  height: 50vh;
  max-height: 50vh;
}

.join-btn {
  background-color: #6600cc;
  border-color: #6600cc;
  max-width: 50%;
  min-width: 50%;
}

.legend{
  position: absolute;
  bottom: 50px;
  left: 10px;
  background-color: rgba(102, 0, 204, 0.5);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 70%;
  overflow-y: auto;
}

.legend-btn {
  position: absolute;
  bottom: -25px;
  left: 0;
  padding: 10px;
}

.btn-primary {
  background-color: #6600cc;
  border-color: #6600cc;
}

.btn-primary:hover {
  background-color: #521093;
  border-color: #521093;
}

.legend-img {
  height: 20px;
  width: 20px;
}


.user-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Login/ Signup---------------------------------------- */

.login {
  width: 50%;
  max-width: 500px;
  min-width: 400px;
  padding: 50px;
  background-color: rgba(15, 32, 39, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.authentication-img {
  background-image: url("https://images.unsplash.com/photo-1630395822701-565a7c69d344?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


#id_password,
#id_login {
  width: 100%;
}

/* Footer---------------------------------------- */

footer {
  background-color: #0f2027;
}
.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}


/* Event_details---------------------------------------- */

.event-info {
  color: white  !important;
  background-color: #0f2027 !important;
}



