/* Global styles ---------------------------------------- */


* {
  margin: 0;
}

body {
  background-color: #0f2027;
}

h1, h2,h3, h4,h5 {
  color: white;
}

.navbar-toggler {
  border-color: white;
  background-color: white;
}

.logo {
  max-height: 100px;
}

.navbar {
  background-color: #0f2027 !important;
}

.nav-link {
  font-size: 20px;
  color: white !important;
}

nav li {
  list-style: none !important;
  padding: 10px;
}

.nav-link:hover {
  color:#6600cc !important;
}

.active {
  color: #6600cc !important;
}

.copyright {
  background-color: rgba(102, 0, 204,0.5)
}

.relative {
  position: relative;
}

/* Index ---------------------------------------- */

.about {
  background-color: #0f2027;
  color: white;
  padding: 20px;
}

.row-center {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#map {
  width: 100vw;
  height: 50vh;
  max-height: 50vh;
}

.join-btn {
  background-color: #6600cc;
  border-color: #6600cc;
  max-width: 50%;
  min-width: 50%;
}

.legend{
  position: absolute;
  bottom: 50px;
  left: 10px;
  background-color: rgba(102, 0, 204, 0.5);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 70%;
  overflow-y: auto;
}

.legend-btn {
  position: absolute;
  bottom: -25px;
  left: 0;
  padding: 10px;
}

.btn-primary {
  background-color: #6600cc;
  border-color: #6600cc;
}

.btn-primary:hover {
  background-color: #521093;
  border-color: #521093;
}

.legend-img {
  height: 20px;
  width: 20px;
}

.user-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gm-style-iw-d {
  min-height: 250px !important;
  background-color: #6600cc !important;
  overflow: hidden !important;
}

.gm-style-iw, .gm-style-iw-c{
  background-color: #6600cc !important;
}

.infowindow-style {
  color: white;
}

.infowindow-btn {
  border-color: #0f2027;
  color: white;
  text-decoration:none ;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0f2027;
}

.infowindow-btn:hover {
  border-color: white;
}




/* Login/ Signup---------------------------------------- */

.login {
  width: 50%;
  max-width: 500px;
  min-width: 400px;
  padding: 50px;
  background-color: rgba(15, 32, 39, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.authentication-img {
  background-image: url("https://images.unsplash.com/photo-1630395822701-565a7c69d344?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


#id_password,
#id_login {
  width: 100%;
}

/* Footer---------------------------------------- */

footer {
  background-color: #0f2027;
}
.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.instagram {
  background-color: #ac2bac;
  border-color: #ac2bac;
}


/* Event_details---------------------------------------- */

.event-info {
  background-color: #0f2027 !important;
}

.event-image {
  display: flex;
  justify-content: center;

}

.col h2 {
  color: white;
}

.text-color {
  color: white;
}

.event-text {
  padding-right: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.add-details {
  display: flex;
  justify-content: center;
}

/* Event_list---------------------------------------- */

.event-list-img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.card-img-top {
  height: 50vh;
  
  
}

.card {
  border-color: #0f2027;
  
}

