{% extends "base.html" %} {% block content %} {% load static %}
<div class="container mt-4">
  <h2 class="mb-4">Events List</h2>
  <div class="row">
    {% for event in event_list %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="image-container">
          {% if "placeholder" in event.image.url %}
          <a href="{% url 'event_details' event.slug %}">
            <img class="card-img-top" src="{% static 'images/pexels-sebastian-ervi-1763067.jpg' %}"
              alt="Placeholder Image" />
          </a>

          {% else %}
          <a href="{% url 'event_details' event.slug%}">
            <img class="card-img-top" src="{{ event.image.url }}" alt="{{ event.title }} Image" />
          </a>
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">Date: {{ event.event_date }}</p>
          <p class="card-text">{{ event.event_location }}</p>
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
</div>
{% endblock %}