{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
  {% if "placeholder" in event.image.url %}
  <img
    class="card-img-top"
    src="{% static 'images/pexels-sebastian-ervi-1763067.jpg' %}"
    alt="Placeholder Image"
  />
  {% else %}
  <img
    src="{{ event.image.url}}"
    alt="{{ event.title}}"
    width="1000"
    height="500"
  />
  {% endif %}
  <div class="row">
    <div class="col">{{ event.title }}</div>
  </div>
  <div class="row">
    <div class="col"><p>{{ event.event_details|safe }}</p></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}
