{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container mt-4">

  <h1 class="mb-4">Events</h1>

  <!-- Filter form for selecting genre, city, and date -->
  <div class="filter-form container">
    <form class="form-inline" method="get" action="{% url 'events_list' %}">
      <!-- Select genre dropdown -->
      <div class="form-group mb-2">
        <label for="event_genre" class="mr-2">Select Genre:</label>
        <select class="form-control" name="event_genre" id="event_genre">
          <option value="" {% if not selected_genre %}selected{% endif %}>All Genres</option>
          {% for genre in all_genres %}
          <option value="{{ genre }}" {% if genre == selected_genre %}selected{% endif %}>{{ genre }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Input field for selecting city -->
      <div class="form-group mx-sm-3 mb-2">
        <label for="event_location" class="mr-2">Select City:</label>
        <input type="text" class="form-control" name="event_location" id="event_location" value="{{ selected_city }}"
          placeholder="All locations">
      </div>

      <!-- Input field for selecting date -->
      <div class="form-group mb-2">
        <label for="event_date" class="mr-2">Select Date:</label>
        <input type="date" class="form-control" name="event_date" id="event_date" value="{{ selected_date }}">
      </div>

      <button type="submit" class="btn btn-primary mt-4 filter-btn">Filter</button>
    </form>
  </div>

  <div class="row" id="event-list-container">
    <!-- Loop through events and dynamically calculate the number of columns -->
    {% for event in event_list %}
    {% with col_num=forloop.counter|divisibleby:3 %}
    <div class="col-xl-4 col-md-6 mb-4 {% if col_num %}col-start{% endif %}">
      <div class="card event h-100">
        <!-- Image container with a link to event details -->
        <div class="image-container">
          {% if "placeholder" in event.image.url %}
          <a href="{% url 'event_details' event.slug %}">
            <!-- Display placeholder image if event image is not available -->
            <img class="card-img-top event-list-img"
              src="https://images.pexels.com/photos/1763067/pexels-photo-1763067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Placeholder Image">
          </a>
          {% else %}
          <!-- Display event image if available -->
          <div class="card-img-top">
            <a href="{% url 'event_details' event.slug%}">
              <img class="event-list-img" src="{{ event.image.url }}" alt="{{ event.title }} Image">
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Card body with event details and links to event details page -->
        <div class="card-body">
          <a href="{% url 'event_details' event.slug%}">
            <h2 class="card-title">{{ event.title }}</h5>
            <p class="card-text">Date: {{ event.event_date }}</p>
            <p class="card-text">{{ event.event_location }}</p>
          </a>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  </div>

  <!-- Pagination section if there are multiple pages of events -->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Link to previous page if available -->
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV
        </a>
      </li>
      {% endif %}

      <!-- Link to next page if available -->
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
