{% extends "base.html" %} 
{% load static %}
{% block content %} 
    <div class="container-fluid relative p-0">
        <div class="filter-form container m-0 p-3">
            <form class="form-inline" method="get" action="{% url 'home' %}">
                <div class="form-group">
                    <div class="title">Select Genre:</div>
                    <select class="form-control" name="event_genre" id="event_genre">
                        <option value="" {% if not selected_genre %}selected{% endif %}>All Genres</option>
                        {% for genre in all_genres %}
                        <option value="{{ genre }}" {% if genre == selected_genre %}selected{% endif %}>{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary mt-4 filter-btn p-2">Filter</button>
            </form>
        </div>
        <button id="getLocationBtn" class="btn btn-primary m-3">Get My Location</button>

            <!--Google map-->
            <div class="col-12 col-lg-9" id="map"></div>
            <div class="col-12 col-lg-3">
                <p class="legend-btn">
                    <button class="btn btn-primary .legend-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#legendContent" aria-expanded="false"
                        aria-controls="legendContent">
                        Toggle Legend
                    </button>
                </p>
                <!--Legend for map based on event genre-->
                <div class="legend collapse collapse-horizontal" id="legendContent">
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Icon</th>
                                <th>Genre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="legend-img"
                                        src="https://cdn-icons-png.flaticon.com/128/11515/11515653.png" alt="House" loading="lazy">
                                </td>
                                <td>House</td>
                            </tr>
                            <tr>
                                <td><img class="legend-img"
                                        src="https://cdn-icons-png.flaticon.com/128/6707/6707113.png" alt="Techno"
                                        loading="lazy"></td>
                                <td>Techno</td>
                            </tr>
                            <tr>
                                <td><img class="legend-img"
                                        src="https://cdn-icons-png.flaticon.com/128/10413/10413920.png" loading="lazy"
                                        alt="Drum and Bass"></td>
                                <td>Drum and Bass</td>
                            </tr>
                            <tr>
                                <td><img class="legend-img" src="https://cdn-icons-png.flaticon.com/128/252/252851.png"
                                        loading="lazy"
                                        alt="Electro"></td>
                                <td>Electro</td>
                            </tr>
                            <tr>
                                <td><img class="legend-img" src="https://cdn-icons-png.flaticon.com/128/741/741535.png"
                                        loading="lazy"
                                        alt="Trance"></td>
                                <td>Trance</td>
                            </tr>
                            <tr>
                                <td><img class="legend-img"
                                        src="https://cdn-icons-png.flaticon.com/128/9254/9254089.png" alt="Tech House" loading="lazy">
                                </td>
                                <td>Tech House</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 52.923787243580904, 
                lng: -1.4720381434100926
            },
            zoom:6
        });

        function requestUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var userLatLng = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                     };
                    map.setCenter(userLatLng);
                    map.setZoom(10);
            }, function () {
                handleLocationError(true, map.getCenter());
            });
            } else {
                handleLocationError(false, map.getCenter());
            }
        }
        // Attach the location request to the button click
        document.getElementById('getLocationBtn').addEventListener('click', function () {
            requestUserLocation();
        });

        var events = [
            {% for event in events %}
            {
                "title": "{{ event.title }}",
                "lat": {{ event.latitude }},
                "lng": {{ event.longitude }},
                "event_genre": "{{ event.event_genre }}",
                "event_venue": "{{ event.event_venue }}",
                "event_date": "{{ event.event_date }}",
                "url": "{% url 'event_details' slug=event.slug %}"
            },
            {% endfor %}
        ];

        // Update events array based on the selected genre and date
        var selectedGenre = "{{ selected_genre }}";
      

        if (selectedGenre) {
            events = events.filter(function (event) {
                return (!selectedGenre || event.event_genre === selectedGenre);
                      
            });
        }
     

        // Create markers for the updated events
        for (var i = 0; i < events.length; i++) {
            createMarker(events[i]);
        }

        //Custom markers for events

        function createMarker(event) {
            var markerImages = {
                "House": "https://cdn-icons-png.flaticon.com/128/11515/11515653.png",
                "Techno": "https://cdn-icons-png.flaticon.com/128/6707/6707113.png",
                "Drum and Bass": "https://cdn-icons-png.flaticon.com/128/10413/10413920.png",
                "Electro": "https://cdn-icons-png.flaticon.com/128/252/252851.png",
                "Trance": "https://cdn-icons-png.flaticon.com/128/741/741535.png",
                "Tech House": "https://cdn-icons-png.flaticon.com/128/9254/9254089.png"
            };

            var markerImage = {
                url: markerImages[event.event_genre],
                scaledSize: new google.maps.Size(32, 32)
            };

            var marker = new google.maps.Marker({
                position: {
                    lat: event.lat,
                    lng: event.lng
                },
                map: map,
                title: event.title,
                icon: markerImage
            });

            var infowindow = new google.maps.InfoWindow({
                content: `<div class="infowindow-style">
                    <h2>${event.title}</h2>
                    <p class="infowindow-style">Genre: ${event.event_genre}</p>
                    <p class="infowindow-style">Venue: ${event.event_venue}</p>
                    <p class="infowindow-style">Date: ${event.event_date}</p>
                    <button class="infowindow-btn" onclick="window.open('${event.url}', '_blank')">Event Details</button>
                </div>`
            });

            marker.addListener('closeclick', ()=>{
                infowindow.open(map, marker);
            });

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    }
</script>
<section class="about">
    <div class="container">
        <div class="row justify-content-center text-center">
            {% if user.is_authenticated %}
            <h2>Welcome {{user}}</h2>
            </div>
            </div>
            {% endif %}
            {% if not user.is_authenticated %}
            <div class="col-12 text-center">
                <h1 class="main-heading p-3">Groove Locator</h1>
            </div>
            <div class="col-sm-12 about-text p-3">
                <p>Welcome to your ultimate destination for discovering the pulse of the dance and electronic music
                    scene! At Groove Locator, we're passionate about connecting music enthusiasts with the beats that move
                    them.Whether you're a seasoned dancer or someone looking to explore the vibrant world of electronic
                    events,we've got you covered.
                </p>
            </div>
            <div class="col-12 text-center button-col p-3">
                <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg join-btn">Join The Groove</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center p-3">
                <h2 class="secondary-heading">What our groovers have to say</h2>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-4 user-testimonials p-3">
                <div class="card user-card">
                    <img src="{% static 'images/user1.webp' %}" class="card-img-top user-image" alt="Profile image for James">
                    <div class="card-body">
                        <p class="card-text user-review">Uncovering hidden gems and exploring new artists is a breeze
                            with GrooveLocator. Effortless discovery, endless possibilities <strong class="user-name">-
                                 James</strong>
                        </p>
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-4 user-testimonials p-3">
                 <div class="card user-card">
                     <img src="{% static 'images/user2.webp' %}" class="card-img-top user-image"
                         alt="Profile image for Ben">
                     <div class="card-body">
                        <p class="card-text user-review">I found events near me effortlessly with Groove Locator. Unforgettable
                             nights, pulsating beats. It's my go-to for the ultimate music vibe.<strong class="user-name"> - Ben</strong>
                        </p>
                        
                     </div>
                 </div>
             </div>
            <div class="col-sm-12 col-md-6 col-lg-4 user-testimonials p-3">
                <div class="card user-card">
                    <img src="{% static 'images/user3.webp' %}" class="card-img-top user-image"
                        alt="Profile image for Sarah">
                    <div class="card-body">
                        <p class="card-text user-review">From saving must-attend events to organizing travel details and hotels,
                            it's your all-in-one platform for seamless event coordination. <strong class="user-name"> - Sarah</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>


<!--Google Maps API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDLv6foLba6R_4ZlNosCqsZft_U8ruFEE&callback=initMap" async
    defer rel="preload"> </script>

<!--JS bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
</script>
<!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Auto-dismiss messages after 3 seconds , taken from Code institute blog walkthrough-->
<script>
    setTimeout(function () {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3000);
  </script>

{% endblock %}

