{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Your Saved Events</h1>
    <div class="row">
        {% for event in object_list %}
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card event h-100">
                <div class="image-container">
                    {% if "placeholder" in event.image.url %}
                    <!-- Placeholder image with link to event details -->
                    <a href="{% url 'event_details' event.slug %}">
                        <img class="card-img-top event-list-img"
                            src="https://images.pexels.com/photos/1763067/pexels-photo-1763067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="Placeholder Image">
                    </a>
                    {% else %}
                    <!-- Event image with link to event details -->
                    <div class="card-img-top">
                        <a href="{% url 'event_details' event.slug%}">
                            <img class="card-img-top event-list-img" src="{{ event.image.url }}"
                                alt="{{ event.title }} Image" />
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Card body with event details and link to event details page -->
                <div class="card-body">
                    <a href="{% url 'event_details' event.slug%}">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">Date: {{ event.event_date }}</p>
                        <p class="card-text">{{ event.event_location }}</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Start a new row after every third event and ensure it's not the last iteration -->
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <!-- Pagination section if there are multiple pages of events -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Link to previous page if available -->
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV
                </a>
            </li>
            {% endif %}
            <!-- Link to next page if available -->
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Auto-dismiss messages after 3 seconds , taken from Code institute blog walkthrough-->
<script>
    setTimeout(function () {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3000);
</script>
{% endblock %}


