{% extends "base.html" %}
{% load static%}

{% block content %}
<h1>Your Saved Events</h1>

<div class="container mt-4">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="row">
        {% for event in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="image-container">
                    {% if "placeholder" in event.image.url %}
                    <a href="{% url 'event_details' event.slug %}">Event Details
                        <img class="card-img-top" src="{% static 'images/pexels-sebastian-ervi-1763067.jpg' %}"
                            alt="Placeholder Image" />
                    </a>
                    {% else %}
                    <a href="{% url 'event_details' event.slug %}">
                        <img class="card-img-top" src="{{ event.image.url }}" alt="{{ event.title }} Image" />
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">Date: {{ event.event_date }}</p>
                    <p class="card-text">{{ event.event_location }}</p>
                    <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample{{ event.id }}" aria-expanded="false"
                            aria-controls="collapseExample{{ event.id }}">
                            Add your event details
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample{{ event.id }}">
                        <div class="card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>








{%endblock%}