{% extends "base.html" %}
{% load static%}

{% block content %}
<h1>Your Saved Events</h1>

<div class="container mt-4">
  
    <div class="row">
        <form method="get" action="{% url 'saved_events' %}">
            <label for="event_genre">Select Genre:</label>
            <select name="event_genre" id="event_genre">
                <option value="" {% if not selected_genre %}selected{% endif %}>All Genres</option>
                {% for genre in all_genres %}
                <option value="{{ genre }}" {% if genre == selected_genre %}selected{% endif %}>{{ genre }}</option>
                {% endfor %}
            </select>
            <label for="event_location">Select City:</label>
            <input type="text" name="event_location" id="event_location" class="selectize" value="{{ selected_city }}"
                placeholder="All locations" />
            <label for="event_date">Select Date:</label>
            <input type="date" name="event_date" id="event_date" value="{{ selected_date }}">
            <button type="submit">Filter</button>
        </form>
        {% for event in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="image-container">
                    {% if "placeholder" in event.image.url %}
                    <a href="{% url 'event_details' event.slug %}">
                        <img class="card-img-top event-list-img"
                            src="https://images.pexels.com/photos/1763067/pexels-photo-1763067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="Placeholder Image" />
                    </a>

                    {% else %}
                    <div class="card-img-top">
                        <a href="{% url 'event_details' event.slug%}">
                            <img class="event-list-img" src="{{ event.image.url }}" alt="{{ event.title }} Image" />
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">Date: {{ event.event_date }}</p>
                    <p class="card-text">{{ event.event_location }}</p>
                    <p class="d-inline-flex gap-1">
                        
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV
                </a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    NEXT &raquo;</a>
            </li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>
{%endblock%}
<script>
    $(document).ready(function () {
        $('#event_location').selectize({
            create: true,
            sortField: 'text'
        });
    });
</script>